/* CUSTOM VARIABLES IMPORT */
@import url(colors.css);
@import url(fonts.css);

.accessibility-button {
    position: fixed;
    margin-top: 1rem;
    margin-right: 1rem;
    right: 0;
    top: 7rem;
    background-color: var(--accessibility-menu-background1);
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25); 
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
}
.accessibility-button i {
    color: var(--accessibility-menu-text);
    font-size: calc(var(--accessibility-text-size) * 2);
}
.accessibility-button p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: var(--accessibility-menu-text);
    font-size: var(--accessibility-text-size);
}

.accessibility-menu {
    position: fixed;
    margin-top: 1rem;
    margin-right: 1rem;
    right: 0;
    top: 7rem;
    background-color: var(--accessibility-menu-background2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: none;
}

.accessibility-menu-title {
    background-color: var(--accessibility-menu-background1);
    color: var(--accessibility-menu-text);
    padding: 0.5rem 1.5rem;
    border-radius: 10px 10px 0 0;
}

.accessibility-menu-title p {
    margin: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: var(--accessibility-menu-text);
    font-size: var(--accessibility-text-size);
}

.accessibility-menu-title p i {
    color: var(--accessibility-menu-text);
}

.accessibility-section {
    background-color: var(--accessibility-menu-section-background);
    border-radius: 10px;
}

.accessibility-section-title {
    font-weight: bolder;
    font-size: var(--accessibility-text-size);
}

.default-font {
    font-family: 'Nunito', sans-serif !important;
}

.dyslexic-font {
    font-family: 'Open Dyslexic' !important;
}

.accessibility-option {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.option-label {
    margin: 0;
    font-size: var(--accessibility-text-size);
}

.accessibility-option.high-contrast {
    background-color: var(--black);
    padding: 0.30rem;
    border-radius: 10px;
}

.accessibility-option.high-contrast .option-label {
    color: var(--yellow);
}

.font-check {
    opacity: 0;
    width: 0;
    height: 0;
}

.font-option {
    margin-left: 0.5rem;
    padding: 0.25rem 0.75rem;
    background-color: var(--font-option-background);
    color: var(--font-option-text);
    border-radius: 10px;
    border: 2px solid var(--font-option-border);
    cursor: pointer;
    font-weight: bold;
    font-size: var(--accessibility-text-size);
}

.font-option.selected {
    background-color: var(--font-option-background-selected);
    color: var(--font-option-text-selected);
    border: 2px solid var(--font-option-border-selected);
}

.font-buttons {
    margin-left: 0.5rem;
    background-color: var(--accessibility-menu-background1);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    color: var(--accessibility-menu-text);
    font-weight: bold;
}
.font-buttons.regular {
    font-size: 0.75rem;
}
.font-buttons.large {
    font-size: 1.25rem;
}
.font-buttons.extra-large {
    font-size: 1.75rem;
}
.font-buttons.selected {
    background-color: var(--font-button-selected);
}

.accessibility-switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 28px;
    margin-left: 0.5rem;
}
.accessibility-option.high-contrast .accessibility-switch {
    height: 30px;
    width: 50px;
}

.accessibility-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.accessibility-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--accessibility-slider-track);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
.accessibility-option.high-contrast .accessibility-switch .accessibility-slider {
    background-color: var(--black);
    border: 1px solid var(--yellow);
}

.accessibility-slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: var(--accessibility-slider-indicator);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
.accessibility-option.high-contrast .accessibility-switch .accessibility-slider:before {
    background-color: var(--yellow);
}

.accessibility-switch input:checked + .accessibility-slider {
    background-color: var(--accessibility-slider-track-fill);
}
.accessibility-option.high-contrast .accessibility-switch input:checked + .accessibility-slider {
    background-color: var(--yellow);
}
.accessibility-option.high-contrast .accessibility-switch input:checked + .accessibility-slider:before {
    background-color: var(--black);
}

.accessibility-switch input:focus + .accessibility-slider {
    box-shadow: 0 0 1px var(--accessibility-slider-track-fill);
}

.accessibility-switch input:checked + .accessibility-slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

@media only screen and (max-width: 768px) {
    .accessibility-button p {
        display: none;
    }
    .accessibility-button {
        padding: 0.5rem 0rem 0.5rem 0.5rem;
    }
}