/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap'); /* Mochiy Pop P One */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap'); /* Nunito */

/* IMPORT FONT FROM FILE */
@font-face {
    font-family: 'Open Dyslexic';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/OpenDyslexic3-Regular.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Open Dyslexic';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/OpenDyslexic3-Bold.ttf') format('truetype');
    font-display: swap;
}

.default-font {
    --font: var('Nunito', sans-serif);
}

.dyslexic-font {
    --font: var('Open Dyslexic');
}

.default-font-size {
    --accessability-text-size: 1rem;
    --header-title: 2rem;
    --general: 1rem;
}

.large-font-size {
    --accessability-text-size: 1.25rem;
    --header-title: 2.25rem;
    --general: 1.25rem;
}

.extra-large-font-size {
    --accessability-text-size: 1.5rem;
    --header-title: 2.5rem;
    --general: 1.5rem;
}