/* CUSTOM VARIABLES IMPORT */
@import url(colors.css);
@import url(fonts.css);

/* ALL ELEMENTS */
* {
    font-family: var(--font);
    color: var(--general-text);
}

body {
    background-color: var(--body-background);
}

/* NAVBAR */
.navbar {
    background-color: var(--navbar-background);
}
.navbar-title {
    font-family: 'Mochiy Pop P One', sans-serif;
    color: var(--navbar-text);
}

header h2 {
    font-weight: bold;
    font-size: var(--header-title);
}

header p {
    font-size: var(--general);
}

header p a {
    color: var(--email-link);
}

main {
    border-radius: 10px;
    border: 1px solid var(--main-border);
}

/* FORM */
.form-title {
    font-weight: bold;
    margin: 0;
    font-size: var(--general);
}
.form-input {
    display: flex;
    flex-direction: column;
}
.form-input label {
    margin-bottom: 0.5rem;
    font-size: var(--general);
}
.form-input input {
    background-color: var(--input-background);
    color: var(--input-text);
    border: 1px solid var(--input-border);
    border-radius: 5px;
    padding: 10px;
    font-size: var(--general);
}
.form-dates {
    display: flex;
    flex-wrap: wrap;
}
.form-dates p {
    padding: 0.5rem;
    border: 2px solid var(--date-border);
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    margin: 0;
    font-weight: bold;
    font-size: var(--general);
}
.form-date {
    margin-left: 0.5rem;
}
.form-date label {
    color: var(--date-label-text);
    background-color: var(--date-label-background);
    padding: 0.25rem 0.75rem;
    border-radius: 10px;
    border: 1px solid var(--date-label-border);
    font-weight: bold;
    cursor: pointer;
    margin: 0.5rem 0;
    font-size: var(--general);
}
.form-date input {
    opacity: 0;
    width: 0;
    height: 0;
}
.form-date label.selected {
    color: var(--date-label-text-selected);
    background-color: var(--date-label-background-selected);
    border: 1px solid var(--date-label-border-selected);
}
.form-date-clear {
    margin-left: 0.5rem;
    border-radius: 10px;
    background-color: var(--date-clear-background);
    color: var(--date-clear-text);
    font-weight: bold;
    border: none;
}
.form-date-clear i {
    color: var(--date-clear-text);
}
.form-date-clear.hidden {
    display: none;
    font-size: var(--general);
}
.form-submit {
    padding: 0.5rem 1.5rem;
    background-color: var(--submit-background);
    color: var(--submit-text);
    border: none;
    border-radius: 5px;
    font-size: var(--general);
}
.form-question {
    font-weight: bold;
    margin-top: 0;
    font-size: var(--general);
}
.form-radio {
    accent-color: var(--radio-color);
}

@media only screen and (max-width: 768px) {
    .form-dates p {
        padding: 0.5rem;
        border: none;
        width: 100%;
    }
}