:root {
    --dark-gray: #2A2E2E;
    --gray: #6A6A6A;
    --gray2: #5D5D5D;
    --light-gray: #BCBCBC;
    --white: #FFFFFF;
    --dark-white: #F5F5F5;
    --red: #E30613;
    --light-blue: #22CFFE;
    --yellow: #FFE600;
    --black: #000000;
    --transparent: rgba(0, 0, 0, 0);
}