:root {
    --dark-gray: #2A2E2E;
    --dark-gray2: #4A4A4A;
    --gray: #6A6A6A;
    --gray2: #5D5D5D;
    --light-gray: #BCBCBC;
    --light-gray2: #ECECEC;
    --white: #FFFFFF;
    --dark-white: #F5F5F5;
    --red: #E30613;
    --pink: #e306c5;
    --light-blue: #16a1c7;
    --blue: #1680c7;
    --yellow: #FFE600;
    --light-black: #161616;
    --black: #000000;
    --transparent: rgba(0, 0, 0, 0);
}